# MATLAB auxiliary files
*.asv

# Visual Studio Code
.vscode/*
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Python
__pycache__/
*.py[cod]
*$py.class

# Diary
Diary/
Log/